<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetTest</title>
    @Styles.Render("~/bundles/app/functionalstyles")
</head>
<body ng-app="app">
    <div class="">

    </div>
    <div class="container body-content">
        <div data-ui-view class="view"></div>
    </div>
    <footer>
        <p>ASP.NET is for lovers</p>
    </footer>

    @Scripts.Render(
        "~/bundles/vendor/jquery",
        "~/bundles/vendor/angular",
        "~/bundles/vendor/misc",
        "~/bundles/app/coreangular",
        "~/bundles/app/commonangular",
        "~/bundles/app/functionalangular"
    )
</body>
</html>