<h1>Make a Stage!</h1>
<div id="stageDropzone">Upload Stage Map</div>
<div id="stepDropzone">Upload Step Icon</div>
<canvas id="stageCanvas" width="570" height="373"></canvas>
<div ng-repeat="step in stage.steps">
    <p>({{ step.x }}, {{ step.reverseY }})</p>
</div>
<h3>Selected Step</h3>
<p>({{ selectedStep.x }}, {{ selectedStep.reverseY }})</p>