<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=test07162015;AccountKey=epE0QMj5uj+0OPLJS6liqUeMW5EVIdMMOAS9wSOhjvJ4f8/gcoBPgyO1XbjHY0kv7CoXrznnfj/ndCbOTaI13g==" />
  </appSettings>
</configuration>